<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lektion16_GUI_windows/src/demo2listview/MainApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="demo2listview.MainApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lektion16_GUI_windows"/>
</launchConfiguration>
