<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lektion15_GUI/src/opgaver_GUI/Opgave01_GUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="opgaver_GUI.Opgave01_GUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lektion15_GUI"/>
</launchConfiguration>
